---
layout: splash
author_profile: false
classes: wide
header:
  overlay_image: /assets/images/splash.jpg
  overlay_color: "#5e616c"
  overlay_filter: rgba(0, 255, 81, 0.5)
  actions:
    - label: "<i class='fa fa-envelope'></i> Schedule Your Appointment Now"
      url: "/contact"
title: Carefree Landscaping
excerpt: "We care about your lawn so you don't have to."
intro: 
  - excerpt: 'Never worry about your lawn again.'
feature_row1:
  - image_path: /assets/images/gallery/mower.jpg
    alt: "Mowing"
    title: "Mowing"
  - image_path: /assets/images/gallery/bed-after.jpg
    alt: "planting"
    title: "Planting"
  - image_path: /assets/images/gallery/tree-after.jpg
    alt: "Yard Cleanup"
    title: "Yard Cleanup"
---
{% include feature_row id="intro" type="center" %}

{% include feature_row id="feature_row1" %}

<!--
feature_row1:
  - image_path: /assets/images/gallery/holiday-lights.jpg
    alt: "Holiday Lighting"
    title: "Holiday Lighting"
  - image_path: /assets/images/splash.jpg
    alt: "placeholder image 1"
    title: "Landscape Lighting"
  - image_path: /assets/images/splash.jpg
    alt: "placeholder image 2"
    title: "Landscape Design"
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/splash.jpg
    title: "Mulching & Edging"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
feature_row2:
  - image_path: /assets/images/splash.jpg
    alt: "placeholder image 1"
    title: "Mowing & Trimming"
  - image_path: /assets/images/splash.jpg
    alt: "placeholder image 2"
    title: "Spring and Fall Cleanup"
  - image_path: /assets/images/splash.jpg
    alt: "placeholder image 1"
    title: "Holiday Lighting"
  - image_path: /assets/images/gallery/tree-after.jpg
    alt: "Yard Cleanup"
    title: "Yard Cleanup"
    url: "/yard-cleanup/"
-->